<div ng-controller="AgendaController">

  <h3>Agenda</h3>

  <ul>
    <li ng-repeat="cat in cats">

      <button ng-click="collapses[cat.id] = ! collapses[cat.id]">
        <span ng-show="collapses[cat.id]">v</span>
        <span ng-hide="collapses[cat.id]">^</span>
      </button>

      {{ cat.name }}
      {{ cat.temperature.min }} - {{ cat.temperature.max }}

      <ul collapse="collapses[cat.id]">
        <li ng-repeat="condSet in conditionSetsByCat[cat.id]">
          <button ng-click="collapses[cat.id+'-'+$index] = ! collapses[cat.id+'-'+$index]">
            <span ng-show="collapses[cat.id+'-'+$index]">^</span>
            <span ng-hide="collapses[cat.id+'-'+$index]">v</span>
          </button>
          <span>
            {{ condSet.start | amCalendar }} - {{ condSet.end | amCalendar }}
          </span>
          <ol collapse="! collapses[cat.id+'-'+$index]">
            <li ng-repeat="cond in condSet.items">
              <button ng-click="modal('condition', {cat: cat, cond: cond})">
                i
              </button>
              <span>{{ cond.time | amCalendar }}</span>
            </li>
          </ol>
        </li>
      </ul>
    </li>
  </ul>
</div>
