<div ng-controller="AgendaController">

  <h3>Agenda</h3>

  <ul class="wt-agenda-list wt-agenda-list-category list-unstyled">
    <li ng-repeat="cat in cats" class="wt-agenda-list-item wt-agenda-list-item-category">

      <div class="media">
        <div class="media-left">
          <button class="wt-list-toggle" ng-click="collapses[cat.id] = ! collapses[cat.id]" ng-disabled="pointSetsByCat[cat.id].hourly.length == 0">
            <span ng-show="collapses[cat.id]"><span class="fa fa-plus"><span class="sr-only">Expand</span></span></span>
            <span ng-hide="collapses[cat.id]"><span class="fa fa-minus"><span class="sr-only">Collapse</span></span></span>
          </button>
        </div>

        <div class="media-body">
          <div>
            <span>
              {{ cat.name }}
            </span>
            <span class="badge" ng-if="pointSetsByCat[cat.id].hourly.length">
              {{ pointSetsByCat[cat.id].hourly.length }}
            </span>
          </div>
        </div>
      </div>

      <ul collapse="collapses[cat.id]"
        class="wt-agenda-list wt-agenda-list-point-set list-unstyled"
      >
        <li ng-repeat="pointSet in pointSetsByCat[cat.id].all"
          class="wt-agenda-list-item wt-agenda-list-item-point-set"
        >

          <div class="media">

            <div class="media-left">

              <span class="wt-bullet"></span>

            </div>

            <div class="media-body">

              <div ng-switch on="pointSet.type">
                <div ng-switch-when="hourly">
                  <a ng-click="modal('pointSet', this)">
                    {{ pointSet.first.time | amCalendar }} - {{ pointSet.last.time | amCalendar }}
                  </a>
                </div>
                <div ng-switch-when="daily">
                  <a ng-click="modal('point', {point: pointSet.first})">
                    {{ pointSet.first.time | amCalendar }}
                  </a>
                </div>
                <div ng-switch-default>
                  ...
                </div>
              </div>

              {{ pointSet.first.time | amDateFormat }}

            </div>
          </div>

        </li>
      </ul>

    </li>
  </ul>


</div>
