<div ng-controller="CurrentController" class="wt-current-container">

  <div class="wt-current">

    <div ng-if="refreshingLocation || location">

      <div class="wt-current-data">
        <div class="wt-current-data-weather-container">

          <div ng-if="! refreshingLocation">
            <div ng-if="refreshingForecast || ! current" class="wt-current-loading-forecast">

              <span class="fa fa-circle-o-notch fa-spin wt-spinner wt-current-loading-forecast-icon"></span>
              <span class="wt-current-loading-forecast-text"></span>

            </div>


            <div ng-if="! refreshingForecast &amp;&amp; current">

              <a class="wt-current-show-link wt-current-data-weather" ng-click="showCurrent()">

                <div class="wt-current-weather-icon wt-weather-icon wi wi-{{ getIconClassForPoint(current) }}"></div>

                <div class="wt-current-temp">
                  <div class="wt-current-temp-row-1">
                    <div class="wt-current-temp-actual">
                      {{ current.temperature | number:format.numberShort }}&deg;
                    </div>
                    <div class="wt-current-temp-apparent">
                      <div class="wt-current-temp-apparent-text">feels</div>
                      <div class="wt-current-temp-apparent-number">
                        {{ current.apparentTemperature | number:format.numberShort }}&deg;
                      </div>
                    </div>
                  </div>
                  <div class="wt-current-summary-text">
                    {{ current.summary }}
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>

      </div>


      <div class="wt-current-location">
        <a class="wt-current-location-link" ng-click="showLocations()">
          <span ng-if="! refreshingLocation">
            <span class="fa fa-location-arrow"></span>
            <span class="wt-current-location-name">
              {{ location.name }}
            </span>
            <span class="fa fa-circle-o-notch fa-spin wt-spinner wt-current-location-resolving"
              ng-show="location.resolving"></span>
          </span>
        </a>
      </div>


      <div ng-if="current.time">
        <div class="wt-current-time">
          <span class="fa fa-clock-o"></span>
          <span am-time-ago="current.time" am-preprocess="unix"
            tooltip-placement="bottom" tooltip="{{ current.time | amCalendar }}"></span>
        </div>
      </div>

    </div>


  </div>

</div>
