<div class="wt-current-container row">

  <div class="wt-current col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-3">

    <div ng-style="{visibility: current ? '' : 'hidden'}">

      <div class="wt-current-data">

        <a class="wt-current-location-edit-btn" ng-click="showCurrent()">

          <div class="wt-current-weather-icon wt-weather-icon wi wi-{{ getIconClassForPoint(current) }}"></div>

          <div class="wt-current-temp">
            <div class="wt-current-temp-row-1">
              <div class="wt-current-temp-actual">
                {{ current.temperature | number:format.numberShort }}&deg;
              </div>
              <div class="wt-current-temp-apparent">
                <div class="wt-current-temp-apparent-text">feels</div>
                <div class="wt-current-temp-apparent-number">
                  {{ current.apparentTemperature | number:format.numberShort }}&deg;
                </div>
              </div>
            </div>
            <div class="wt-current-summary-text">
              {{ current.summary }}
            </div>

          </a>

        </div>

      </div>

      <div class="wt-current-location">
        <a class="wt-current-location-edit-btn" ng-click="showLocations()">
          <span class="fa fa-location-arrow"></span>
          {{ location.name }}
        </a>
        <span class="fa fa-circle-o-notch fa-spin wt-spinner wt-current-location-resolving" ng-show="location.resolving"></span>
      </div>

    </div>
    <div ng-if="! location">
      No location chosen.
    </div>

  </div>

</div>
