<div class="modal-header">

  <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

  <h3 class="modal-title">
    Add Location
  </h3>

</div>

<div class="modal-body">

  <form name="locationSearchForm">
    <input type="text" autofocus
      ng-model="locationSearchText"
      id="locationSearchForm.locationSearchText"
      name="locationSearchText"
      ng-change="onLocationSearchTextChange(locationSearchText)"
    />
    <span class="fa fa-circle-o-notch fa-spin wt-spinner wt-location-searching"
      ng-show="locationSearching"></span>
  </form>

  <div ng-hide="locationSearching">
    <ol class="list-unstyled">
      <li ng-repeat="loc in locationResults">
        <a ng-click="pickLocationResult(loc); close()">{{ loc.name }}</a>
        <button ng-click="addLocation(loc)">+</button>
      </li>
    </ol>
  </div>

</div>
