<div class="modal-header">

  <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

  <h3 class="modal-title">
    Locations
  </h3>

</div>

<div class="modal-body">

  <div>

    <button class="btn btn-primary" ng-click="getCurrentLocation(); close()">
      <span class="fa fa-location-arrow"></span>
      Detect current location
    </button>
    <button class="btn btn-success" ng-click="showAddLocation(); close()">
      <span class="fa fa-plus"></span>
      New
    </button>

  </div>

  <ul class="list-unstyled">
    <li ng-repeat="loc in locations track by loc.id">

      <button ng-click="removeLocation(loc)">x</button>

      <a ng-click="setLocation(loc); close()">{{ loc.name }}</a>

    </li>
  </ul>

</div>
