<div class="modal-header">

  <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

  <h3 class="modal-title">
    Locations
  </h3>

</div>

<div class="modal-body">

  <div>

    <button ng-click="getCurrentLocation(); close()">Detect location</button>

    <h4>Or find location:</h4>
    <form>
      <input type="text" autofocus
        ng-model="address" name="addressField"
        ng-change="onAddressChange(address)"
      />
    </form>
    <ol>
      <li ng-repeat="loc in locationResults">
        <a ng-click="pickLocationResult(loc); close()">{{ loc.name }}</a>

        <button ng-click="addLocation(loc)">+</button>
      </li>
    </ol>
  </div>

  <ul>
    <li ng-repeat="loc in locations track by loc.id">

      <button ng-click="removeLocation(loc)">x</button>

      <a ng-click="setLocation(loc); close()">{{ loc.name }}</a>

    </li>
  </ul>

</div>

<div class="modal-footer">

</div>
