<form
  class="form"
  role="form"
  name="catForm"
  ng-submit="catFormSubmit(this)"
>

  <fieldset>

    <div class="form-group">
        <label for="catFormModel.name">Name</label>
      <input type="text" class="form-control"
        id="catFormModel.name"
        ng-model="catFormModel.name"
        autofocus
      />
    </div>

    <fieldset>
      <legend>Temperature</legend>

      <div class="form-group">
        <label for="catFormModel.temperature.max">Min</label>
        <input type="number" class="form-control"
          id="catFormModel.temperature.min"
          ng-model="catFormModel.temperature.min"
          required
        />
      </div>

      <div class="form-group">
        <label for="catFormModel.temperature.max">Max</label>
        <input type="number" class="form-control"
          id="catFormModel.temperature.max"
          ng-model="catFormModel.temperature.max"
          required
        />
      </div>

  </fieldset>

  <fieldset>
    <legend>Conditions</legend>

    <div class="checkbox" ng-repeat="condition in conditions">
      <label for="catFormModel.conditions.{{ condition.key }}">
        <input type="checkbox"
          id="catFormModel.conditions.{{ condition.key }}"
          ng-model="catFormModel.conditions[condition.key]"
        />
        {{ condition.summary }}
      </label>
    </div>

  </fieldset>

  <div class="form-group">
    <textarea name="catField" json-edit="catFormModel" rows="10" class="form-control"></textarea>
    <div ng-show="catForm.catField.$error.json">Invalid JSON.</div>
  </div>

  <button type="submit">Save</button>

</form>
