<form
  class="form-horizontal"
  role="form"
  name="catForm"
  ng-submit="catFormSubmit(this)"
>

  <fieldset>

    <div class="form-group">
      <label class="control-label col-sm-2"
        for="catFormModel.name">
        Name
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control"
          id="catFormModel.name"
          ng-model="catFormModel.name"
          autofocus
        />
      </div>
    </div>

    <fieldset>
      <legend>Temperature</legend>

      <div class="form-group">
        <div class="col-xs-6">
          <label class="control-label col-xs-4 text-right"
            for="catFormModel.temperature.max">
            Min
          </label>
          <div class="col-xs-8">
            <input type="number" class="form-control"
              id="catFormModel.temperature.min"
              ng-model="catFormModel.temperature.min"
              required
            />
          </div>
        </div>

        <div class="col-xs-6">
          <div>
            <label class="control-label col-xs-4 text-right"
              for="catFormModel.temperature.max">
              Max
            </label>
            <div class="col-xs-8">
              <input type="number" class="form-control"
                id="catFormModel.temperature.max"
                ng-model="catFormModel.temperature.max"
                required
              />
            </div>
          </div>
        </div>
      </div>

  </fieldset>

  <fieldset>
    <!-- <legend>Conditions</legend> -->

    <div class="checkbox">
      <label for="catFormModel.conditionsEnabled">
        <input type="checkbox"
          id="catFormModel.conditionsEnabled"
          ng-model="catFormModel.conditionsEnabled"
        />
        Conditions
      </label>
    </div>

    <fieldset ng-disabled="! catFormModel.conditionsEnabled">

      <div class="form-group">
        <div class="col-xs-6 col-sm-4" ng-repeat="condition in conditions">
          <label class="checkbox-inline" for="catFormModel.conditions.{{ condition.key }}">
            <input type="checkbox"
              id="catFormModel.conditions.{{ condition.key }}"
              ng-model="catFormModel.conditions[condition.key]"
              ng-disabled="! catFormModel.conditionsEnabled"
            />
            {{ condition.summary }}
          </label>
        </div>
      </div>

    </fieldset>
  </fieldset>

  <button class="btn btn-success" type="submit">Save</button>

</form>
