<form
  class="form-horizontal"
  role="form"
  name="catForm"
  ng-submit="catFormSubmit(this)"
>

  <fieldset>

    <div class="form-group">
      <label class="control-label col-sm-2"
        for="catForm.name">
        Name
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control"
          id="catForm.name"
          name="name"
          ng-model="catFormModel.name"
          autofocus
        />
      </div>
    </div>

    <fieldset>
      <legend>Temperature</legend>

      <div class="form-group">
        <div class="col-xs-6" ng-class="{
          'has-error': catForm.temperature_min.$invalid &amp;&amp; catForm.temperature_min.$dirty
        }">
          <label class="control-label col-xs-4 text-right"
            for="catForm.temperature_min">
            Min
          </label>
          <div class="col-xs-8">
            <input type="number" class="form-control"
              id="catForm.temperature_min"
              name="temperature_min"
              ng-model="catFormModel.temperature.min"
              required
            />
          </div>
          <div class="help-block" ng-if="catForm.temperature_min.$dirty">
            <div ng-messages="catForm.temperature_min.$error"
              ng-messages-include="templates/messages/simple.html"></div>
          </div>
        </div>

        <div class="col-xs-6" ng-class="{
          'has-error': catForm.temperature_max.$invalid &amp;&amp; catForm.temperature_max.$dirty
        }">
          <div>
            <label class="control-label col-xs-4 text-right"
              for="catForm.temperature_max">
              Max
            </label>
            <div class="col-xs-8">
              <input type="number" class="form-control"
                id="catForm.temperature_max"
                name="temperature_max"
                ng-model="catFormModel.temperature.max"
                required
              />
            </div>
          </div>
          <div class="help-block" ng-if="catForm.temperature_max.$dirty">
            <div ng-messages="catForm.temperature_max.$error"
              ng-messages-include="templates/messages/simple.html"></div>
          </div>
        </div>
      </div>

  </fieldset>

  <fieldset>
    <!-- <legend>Conditions</legend> -->

    <div class="checkbox">
      <label for="catForm.conditionsEnabled">
        <input type="checkbox"
          id="catForm.conditionsEnabled"
          name="conditionsEnabled"
          ng-model="catFormModel.conditionsEnabled"
        />
        Conditions
      </label>
    </div>

    <fieldset ng-disabled="! catFormModel.conditionsEnabled">

      <div class="form-group">
        <div class="col-xs-6 col-sm-4" ng-repeat="condition in conditions">
          <label class="checkbox-inline" for="catForm.conditions_{{ condition.key }}">
            <input type="checkbox"
              id="catForm.conditions_{{ condition.key }}"
              name="conditions_{{ condition.key }}"
              ng-model="catFormModel.conditions[condition.key]"
              ng-disabled="! catFormModel.conditionsEnabled"
            />
            {{ condition.summary }}
          </label>
        </div>
      </div>

    </fieldset>
  </fieldset>

  <button class="btn btn-success" type="submit" ng-disabled="catForm.$invalid">Save</button>

</form>
