@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/font-awesome/css/font-awesome.css");

body {
  background: #fff;
}

.wt-current-temp-actual {
  font-size: 3em;
}

.wt-current-summary {
  font-size: 1.5em;
}

.wt-agenda-list-category .wt-agenda-list {
  padding-left: 2em;
}
