@import "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/font-awesome/less/font-awesome";
@fa-font-path: "../bower_components/font-awesome/fonts";
@import "../bower_components/weather-icons/weather-icons/weather-icons";
@weather-icons-path: "../bower_components/weather-icons/font";

@import "_bootstrap-ms";


/**
 * Disabled labels (and within disabled fieldsets) get cursor. 
 */
fieldset[disabled] label,
fieldset.disabled label,
label[disabled], label.disabled {
  cursor: @cursor-disabled;
}


a {
  cursor: pointer;
}


/**
 * Fixes UI Bootstrap's modal backdrops.
 */
[modal-backdrop] {
  width: 100%;
  height: 100%;
}


html {

}


body {
  /*overflow: scroll;*/
  /*overflow-y: scroll;*/
  /*overflow-x: auto;*/
}

/**
 * http://stackoverflow.com/a/8230953
 */
.td-shrink {
    white-space: nowrap;
}
.td-expand {
    width: 99%;
}

.wt-button-unstyled {
  border: 0px;
  background: transparent;
}

//@text-color-active: lighten(@text-color, 40%);
//@text-color-active: @link-hover-color;
@text-color-active: @link-color;

.wt-link-subtle {
  &, &:link, &:visited, &:hover, &:active {
    color: @text-color;
    text-decoration: none;
  }

  &:hover, &:active {
    color: @text-color-active;
    //text-shadow: 0px 0px 2px rgba(0,100,255,0.5);
  }
}


.wt-init-loading {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;

  .wt-init-loading-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .wt-spinner {
    font-size: 4em;
  }

  .wt-init-loading-text {
    margin-top: 0.5em;
    font-size: 1em;
    line-height: 1em;
  }
}


.wt-current {
  font-size: 1.5em;
}

.wt-current-data {
  .clearfix;

  & > a {
    float: left;
    .wt-link-subtle;
    display: block;

    & > * {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.wt-current-temp {
  padding-left: 0.5em;
}

.wt-current-temp-row-1 {
  vertical-align: bottom;

  & > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.wt-current-temp-actual {
  text-align: center;
  font-size: 3em;
  line-height: 1em;
  font-weight: bold;
}

.wt-current-temp-apparent {
  padding-left: 0.25em;
}

.wt-current-temp-apparent-text {
  font-size: 0.75em;
  line-height: 1em;
}

.wt-current-temp-apparent-number {
  font-size: 1.75em;
  line-height: 1em;
}

.wt-current-weather-icon {
  font-size: 3em;
  padding-bottom: 0.25em;

  @media screen and (min-width: @screen-ms-min) {
    font-size: 5em;
  }
}

.wt-current-summary-text {
  font-size: 1.5em;
  line-height: 1em;
}

// current location

.wt-current-location {
  font-size: 0.75em;
}

.wt-current-location-link {
  .wt-link-subtle;
}

.wt-current-time {
  font-size: 0.75em;
}


// agenda

.wt-agenda-list-category .wt-agenda-list {
  padding-left: 2em;
}

.wt-agenda-list-item-category {
  margin-bottom: 1em;
}

.wt-agenda-list-item-category-label {
  margin-bottom: 0.25em;
}

.wt-agenda-list-item-category-name {
  font-size: 1.25em;
}

.wt-agenda-list-item-category-badge {
}



.wt-agenda-list-item-match-link {
  .wt-link-subtle;
}

.wt-agenda-list-item-match-icon {
  margin-right: 0.5em;
}

.wt-list-toggle {
  .wt-button-unstyled;
  min-width: 2em;
  font-size: 0.8em;
  text-align: center;

  &[disabled] {
    opacity: 0.5;
  }
}

.wt-bullet::after {
  content: "\002022";
}


.wt-table-categories {
  & > tbody > tr > td {
    vertical-align: middle;
  }
}
