@import url("../bower_components/bootstrap/dist/css/bootstrap.css");
@import url("../bower_components/font-awesome/css/font-awesome.css");

html {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  background: #fff;
}

.wt-current-temp-actual {
  font-size: 3em;
}

.wt-current-summary {
  font-size: 1.5em;
}

.wt-agenda-list-category .wt-agenda-list {
  padding-left: 2em;
}

.wt-list-toggle {
  min-width: 2em;
  text-align: center;
  .wt-button-unstyled;
}

.wt-button-unstyled {
  border: 0px;
  background: transparent;
}

.wt-bullet::after {
  content: "\002022";
}
